



@import "tailwindcss";

/* Global tokens (preto/branco) */
:root {
  --color-bg: 255 255 255;
  --color-fg: 0 0 0;
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
  font-family: var(--font-sans);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-fg));
}



